spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tractor_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: anilkachave125@gmail.com
    password: Anil@12345
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
